body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 100px;
    float: left;
}

aside .logo {
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: -10px;
}

aside h3 {
    margin-top: 20px;
    font-size: 22px;
}

aside ul {
    list-style: none;
}

aside ul li {
     color: #fff;
     display: block;
     margin-top: 20px;
     text-decoration: none;
     transition: transform .4s ease;
}

aside ul a {
     text-decoration: none;
}


aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.10);
}

main .features {
    float: left;
    text-align: center;
    margin-top: 100px;
    margin-left: 50px;
    color: #fff;
    width: 75%;
}

main .features h1 {
    font-size: 30px;
    margin-top: 0px;
}

main .features p {max-width: 400px; margin: 20px auto}

form {
    margin-left: 22%;
    width: 500px;
    margin-top: 35px;
}

main .word-zone {
    color: #fff;
    float: left;
    text-align: center;
    margin-top: 100px;
    margin-left: 50px;
    color: #fff;
    width: 75%;
}

main .question-background {
    background: #fff;
}
main .question-background p {
    color: #2c2c2c;
}


